click==8.2.1
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
greenlet==3.2.3
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pillow==11.3.0
psycopg2-binary==2.9.3
pyotp==2.9.0
python-dotenv==1.1.0
qrcode==8.2
SQLAlchemy==1.4.19
Werkzeug==2.0.1