<!-- {% extends 'base.html' %}
{% block title %}Prescriptions{% endblock %}
{% block body %}

    {% if results %}
        <table>
            <tr>
                <th>Brand Name</th>
                <th>Generic Name</th>
                <th>UNII Code</th>
                 <th>Action</th>
              </tr>
            {% for result in results %}
                  <td>{{ result.brand_name }}</td>
                  <td>{{ result.generic_name }}</td>
                  <td>{{ result.unii }}</td>
                  <td>
                  </td>
              </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %} -->