{% extends 'base.html' %}

{% block title %}Home{% endblock %}

  <title>Home</title>

{% block body %}

  <!-- Container for login form -->
  <div class="wrapper">
    <form action="/login" method="POST">
      <!-- Displays 'User Login' above input form -->
      <h1>User Login</h1>
      <!-- Displays input box with the word "Email" in the box -->
      <div class="input-box">
        <input type="text" placeholder="Email"
        required>
          <!-- Bootstrap icon from getbootstrap.com -->
        <i class="bi bi-envelope-at-fill"></i>
      </div>
        <!-- Displays input box with the word 'password' in the box -->
      <div class="input box">
        <input type="password" placeholder="Password"
        required>
        <!-- Bootstrap icon from getbootstrap.com -->
        <i class="bi bi-file-lock2-fill"></i>
      </div>
        <!-- Displays checkbox for user to choose "Remember me" -->
      <div class="password-options">
        <label><input type="checkbox"> Remember me </label>
        <!-- Displays "Forgot Password" option for user to choose -->
        <a href="#">Forgot password?</a>
      </div>
      <!-- Displays "Login" button for user to click -->
      <button type="submit"class="btn">Login</button>
      <!-- Displays "" and routes user to create account -->
      <div class="register-link">
        <p>Don't have an account?
        <a href="#">Register here!</a></p>
      </div>
    </form>
  </div>

{% endblock %}

<!-- 
  <h2>Create an Account</h2>
  
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form> -->


