{% extends 'base.html' %}
{% block title %}medMinder Home{% endblock %}

{% block body %}
    <h1>Welcome to this awesome app!</h1>


    <!-- Create user account form account -->
    <h2>Create Account</h2>
    <form action="  ", methods="POST">
    <!-- email -->
    <!-- password -->
    <!-- Input type - button -->
    </form>


    <!-- if user has account, user can log in with email and password -->
    <h2>Log In</h2>
    <form action="  ", methods="POST">
    <!-- email -->
    <!-- password -->
    <!-- Input type - button -->
    </form>

    {% endblock %}


    
    <!-- button to add prescription and/or doctor if already signed in-->
    <!-- if not in session when user clicks add button, user is prompted to sign in -->



