{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block body %}

  <!-- Welcome the user -->
  <h1>Prescriptions Details</h1>
  <!-- display the user's email -->
  <p>Email: {{ user.email }}</p>
  <br>

<h2>Your Presciptions</h2>
<table>
  <thead>
    <tr>
      <th>Brand Name</th>
      <th>Generic Name</th>
      <th>Unii</th>
    </tr>
  </thead>
  <tbody id="prescriptions_table">
    {% for prescription in prescriptions %}
    <tr>
      <td>{{ prescription.brand_name }}</td>
      <td>{{ prescription.generic_name }}</td>
      <td>{{ prescription.unii }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<form id="med_search">
  <input type="text" id="search_query" name="search_query"
  placeholder="Enter a medication name">
  <button type="submit" id="med_search_submit">Search</button>
</form>

<div id="med_search_results"></div>

<h2>Search Results</h2>
  <table>
    <thead>
    <tr>
      <th>Brand Name</th>
      <th>Generic Name</th>
      <th>Unii</th>
    </tr>
    </thead>
    <!-- Search results -->
    <tbody id="results_table">
      </tbody>
  </table>
  <script src="/static/med_search.js"></script>
{% endblock %}

<!-- User logout -->
<a href="/logout">Logout</a>

